@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "SF UI Text", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

@font-face {
  font-family: "SF UI Text";
  src: url(/fonts/SFUIText-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url(/fonts/Circe-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Tahoma";
  src: url(/fonts/Tahoma.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Text";
  src: url(/fonts/SFUIText-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Text";
  src: url(/fonts/SFUIText-Semibold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url(/fonts/Circe-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "IcoFont";
  src: url(/fonts/iconfont.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
:root {
  --text: #232120;
  --white: #FFFFFF;
  --main-color: #487ACD;
  --form-color: rgba(242, 242, 242, 0.63);
  --lineal-hero: linear-gradient(90deg, rgba(30, 42, 93, 0.45) 0%, rgba(42, 57, 118, 0.45) 40.99%, rgba(60, 80, 156, 0.45) 76.89%, rgba(73, 95, 186, 0.45) 109.93%);
  --page-background: #FFFFFF;
  --accent: #84B6F5;
  --lineal-products: linear-gradient(90deg, rgba(30, 42, 93, 0.41) 0%, rgba(42, 57, 118, 0.41) 40.99%, rgba(60, 80, 156, 0.41) 76.89%, rgba(73, 95, 186, 0.41) 109.93%);
  --lineal-subscrible: linear-gradient(90deg, rgba(30, 42, 93, 0.5) 0%, rgba(42, 57, 118, 0.5) 40.99%, rgba(60, 80, 156, 0.42) 79.36%, rgba(73, 95, 186, 0.15) 109.93%);
  --lineal-footer: linear-gradient(90deg, rgba(30, 42, 93, 0.57) 0%, rgba(72, 122, 205, 0.3363) 40.99%, rgba(72, 122, 205, 0.4902) 76.89%, rgba(73, 95, 186, 0.4959) 109.93%);
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Скрытие заголовка */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.no-padding-top {
  padding-top: 0;
}

.container {
  margin: auto;
}
@media screen and (min-width: 375px) {
  .container {
    width: 295px;
  }
}

body {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  background-color: var(--page-background);
  color: var(--text);
  margin: 0%;
}

body.mouse .dropdown:hover .dropdown__list {
  display: block;
}

.h2 {
  font-size: 18px;
  line-height: 0.9444444444;
  text-transform: uppercase;
}

.header {
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  background: var(--lineal-hero), url(/images/hero/mobile/hero@1x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  padding: 25px 2px 0 2px;
}
.header__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__basket {
  display: inline-flex;
}
.header .hero {
  padding-top: 41px;
  padding-bottom: 45px;
}
.header__svg {
  fill: var(--white);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-mini-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .header {
    background: var(--lineal-hero), url(/images/hero/mobile/hero@2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (-o-mini-device-pixel-ratio: 3/1), screen and (-webkit-min-device-pixel-ratio: 2.375), screen and (min-resolution: 228dpi), screen and (min-resolution: 3dppx) {
  .header {
    background: var(--lineal-hero), url(/images/hero/mobile/hero@3x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.header .phone_link {
  color: var(--white);
}
.header .phone_link1 {
  color: var(--text);
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 210px;
  height: 160px;
  top: 0;
  left: 0;
  background: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
}

.dropbtn {
  position: relative;
  background-color: inherit;
  color: white;
  border: none;
  display: flex;
}
.dropbtn::before {
  position: absolute;
  content: "▼";
  color: #FFFFFF;
  font-size: 50%;
}

.show {
  display: block;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.hero__title {
  font-size: 50px;
  line-height: 1.48;
  font-variant: small-caps;
}
.hero__text {
  margin-bottom: 28px;
  font-weight: 700;
}
.hero .hero__button {
  width: 256px;
  height: 35px;
  padding: 7px 46px 6px;
  margin-bottom: 33px;
  font-size: 15px;
  line-height: 1.4666666667;
  text-transform: none;
}

.logo {
  padding: 23px 0 24px 0;
}

.menu-container {
  display: none;
  position: fixed;
  top: 45px;
  left: 0;
  padding: 35px 26px 20px 26px;
  background: var(--main-color);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  z-index: 2;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}

.menu__item:not(:last-child) {
  margin-bottom: 10px;
}
.menu__toggle {
  display: flex;
  min-height: 24px;
  min-width: 24px;
  top: 25px;
  right: 15px;
  margin: 0;
  padding: 0;
  fill: var(--white);
  background: inherit;
  cursor: pointer;
  border: none;
  outline: none;
}
.menu__toggle:hover .menu__toggle-icon-cross, .menu__toggle:focus .menu__toggle-icon-cross, .menu__toggle:hover .menu__toggle-icon-menu, .menu__toggle:focus .menu__toggle-icon-menu {
  fill: var(--accent);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link {
  display: inline-block;
  font-weight: 700;
  color: var(--white);
  font-variant: all-small-caps;
}
.menu__link--active, .menu__link--accent:hover, .menu__link--accent:focus {
  color: var(--accent);
}

.js-close-menu {
  top: 5px;
}

.menu-products {
  position: absolute;
  display: none;
  top: 45px;
  left: 0;
  width: 208px;
  height: 656px;
  padding: 35px 36px 20px 26px;
  background: cadetblue;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  z-index: 2;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-products.is-open {
  display: block;
  transform: translateX(0);
}

.menu__toggle1 {
  position: absolute;
  min-height: 24px;
  min-width: 24px;
  top: 25px;
  right: 15px;
  margin: 0;
  padding: 0;
  fill: var(--white);
  background: inherit;
  cursor: pointer;
  border: none;
  outline: none;
}
.menu__toggle1:hover .menu__toggle1-icon-cross, .menu__toggle1:focus .menu__toggle1-icon-cross, .menu__toggle1:hover .menu__toggle1-icon-menu, .menu__toggle1:focus .menu__toggle1-icon-menu {
  fill: var(--accent);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn {
  display: inline-flex;
  fill: var(--white);
  border: none;
  background: inherit;
}
.menu-btn .icon-cross {
  display: none;
}
.menu-btn.is-open .icon-cross {
  display: block;
}
.menu-btn.is-open .icon-menu {
  display: none;
}

.menu-link-inner {
  display: flex;
  align-items: center;
}

.dropdown {
  display: flex;
  position: relative;
  gap: 10px;
}
.dropdown:hover .dropdown__list {
  display: block;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.dropdown:hover .dropdown__arrow {
  fill: var(--accent);
  transform: rotate(-180deg);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.dropdown__link-container {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--white);
}
.dropdown__link-container:hover, .dropdown__link-container:focus {
  color: var(--accent);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.dropdown__link-container:hover .header__svg, .dropdown__link-container:focus .header__svg {
  fill: var(--accent);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.dropdown__arrow {
  font-size: 50%;
  cursor: pointer;
  fill: var(--white);
}
.dropdown__list {
  display: none;
  width: 100%;
  background: var(--white);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  padding: 25px 20px;
  position: absolute;
  top: 100%;
  left: 10px;
}
.dropdown__list::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 7px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid var(--white);
  box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.14);
}
.dropdown__link {
  display: inline-block;
  color: var(--text);
}
.dropdown__link:hover, .dropdown__link:focus {
  color: var(--accent);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.dropdown li:not(:last-child) {
  margin-bottom: 11px;
}

.nav__list {
  display: flex;
  gap: 25px;
  justify-content: space-between;
}
.nav__link {
  color: var(--black);
  padding-top: 28px;
  padding-bottom: 28px;
}

.lang {
  display: flex;
  gap: 16px;
  color: var(--black);
  text-transform: uppercase;
}
.lang__link {
  color: inherit;
}

.shopping-menu {
  display: flex;
  gap: 16px;
}
.button {
  width: 230px;
  height: 48px;
  padding: 12px 68px 12px 76px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4375;
  text-transform: capitalize;
  color: var(--white);
  border: none;
  background: var(--main-color);
  box-shadow: 4px 4px 31px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}
.button:hover, .button:focus {
  color: var(--main-color);
  background: var(--white);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.preview-post {
  padding: 31px 32px 34px 33px;
  text-align: left;
  background: rgba(153, 171, 221, 0.26);
  border-radius: 5px;
  filter: drop-shadow(-3px -3px 12px rgba(0, 0, 0, 0.06)) drop-shadow(4px 4px 29px rgba(0, 0, 0, 0.17));
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}
.preview-post__text {
  margin-top: 10px;
  margin-bottom: 14px;
}
.preview-post__img {
  width: 230px;
  height: 118px;
  padding: 25px 8px;
  margin-bottom: 18px;
  background: var(--white);
  border-radius: 5px;
}
.preview-post__name {
  width: 233px;
}
.preview-post__name-title {
  font-size: 16px;
  text-transform: uppercase;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.08);
}
.preview-post__name-title-accent {
  font-size: 14px;
  line-height: 1.1428571429;
  color: var(--accent);
  text-transform: capitalize;
}
.preview-post__link {
  color: var(--white);
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.08);
  text-transform: capitalize;
}
.preview-post__link:hover, .preview-post__link:focus {
  color: var(--main-color);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.preview-post__link:hover .header__svg, .preview-post__link:focus .header__svg {
  fill: var(--main-color);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.products {
  padding-top: 50px;
  padding-bottom: 40px;
}
.products .h2 {
  margin-bottom: 20px;
}
.products__item {
  width: 295px;
  height: 169px;
  border-radius: 5px;
}
.products__item:nth-child(1) {
  background: var(--lineal-products), url(/images/category/mobile/nitrile-gloves@1x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-mini-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products__item:nth-child(1) {
    background: var(--lineal-products), url(/images/category/mobile/nitrile-gloves@2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (-o-mini-device-pixel-ratio: 3/1), screen and (-webkit-min-device-pixel-ratio: 2.375), screen and (min-resolution: 228dpi), screen and (min-resolution: 3dppx) {
  .products__item:nth-child(1) {
    background: var(--lineal-products), url(/images/category/mobile/nitrile-gloves@3x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.products__item:nth-child(2) {
  background: var(--lineal-products), url(/images/category/mobile/latex-gloves@1x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-mini-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products__item:nth-child(2) {
    background: var(--lineal-products), url(/images/category/mobile/latex-gloves@2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (-o-mini-device-pixel-ratio: 3/1), screen and (-webkit-min-device-pixel-ratio: 2.375), screen and (min-resolution: 228dpi), screen and (min-resolution: 3dppx) {
  .products__item:nth-child(2) {
    background: var(--lineal-products), url(/images/category/mobile/latex-gloves@3x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.products__item:nth-child(3) {
  background: var(--lineal-products), url(/images/category/mobile/medical-gloves@1x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-mini-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products__item:nth-child(3) {
    background: var(--lineal-products), url(/images/category/mobile/medical-gloves@2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (-o-mini-device-pixel-ratio: 3/1), screen and (-webkit-min-device-pixel-ratio: 2.375), screen and (min-resolution: 228dpi), screen and (min-resolution: 3dppx) {
  .products__item:nth-child(3) {
    background: var(--lineal-products), url(/images/category/mobile/medical-gloves@3x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.products__item:nth-child(3) .products__link {
  padding: 100px 32px 21px 124px;
}
.products__item:nth-child(4) {
  background: var(--lineal-products), url(/images/category/mobile/food-industry-gloves@1x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-mini-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products__item:nth-child(4) {
    background: var(--lineal-products), url(/images/category/mobile/food-industry-gloves@2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (-o-mini-device-pixel-ratio: 3/1), screen and (-webkit-min-device-pixel-ratio: 2.375), screen and (min-resolution: 228dpi), screen and (min-resolution: 3dppx) {
  .products__item:nth-child(4) {
    background: var(--lineal-products), url(/images/category/mobile/food-industry-gloves@3x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.products__item:nth-child(4) .products__link {
  padding: 118px 24px 18px 117px;
}
.products__item:nth-child(5) {
  background: var(--lineal-products), url(/images/category/mobile/economic-gloves@1x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-mini-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products__item:nth-child(5) {
    background: var(--lineal-products), url(/images/category/mobile/economic-gloves@2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (-o-mini-device-pixel-ratio: 3/1), screen and (-webkit-min-device-pixel-ratio: 2.375), screen and (min-resolution: 228dpi), screen and (min-resolution: 3dppx) {
  .products__item:nth-child(5) {
    background: var(--lineal-products), url(/images/category/mobile/economic-gloves@3x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.products__item:nth-child(6) {
  background: var(--lineal-products), url(/images/category/mobile/construction-gloves@1x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-mini-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products__item:nth-child(6) {
    background: var(--lineal-products), url(/images/category/mobile/construction-gloves@2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (-o-mini-device-pixel-ratio: 3/1), screen and (-webkit-min-device-pixel-ratio: 2.375), screen and (min-resolution: 228dpi), screen and (min-resolution: 3dppx) {
  .products__item:nth-child(6) {
    background: var(--lineal-products), url(/images/category/mobile/construction-gloves@3x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.products__item:nth-child(6) .products__link {
  padding: 118px 22px 18px 138px;
}
@media screen and (max-width: 1440px) {
  .products__item:not(last-child) {
    margin-bottom: 5px;
  }
}
.products__link {
  padding: 118px 24px 18px 152px;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  font-variant: small-caps;
  color: var(--white);
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
}
.products__link:hover, .products__link:focus {
  color: var(--main-color);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.products__link:hover .header__svg, .products__link:focus .header__svg {
  fill: var(--main-color);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.about-us {
  padding-bottom: 35px;
}
.about-us .h2 {
  margin-bottom: 20px;
}
.about-us__list {
  margin-top: 32px;
  margin-bottom: 45px;
}
.about-us__item {
  width: 100%;
  height: 150px;
  padding: 23px 30px 23px 32px;
  background: var(--white);
  box-shadow: 2px 2px 19px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.about-us__item:nth-child(3) {
  padding: 23px 69px 25px 32px;
}
@media screen and (max-width: 1440px) {
  .about-us__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.about-us__svg {
  fill: var(--main-color);
}
.about-us__wrapper {
  border-radius: 5px;
}

.subscribe {
  padding-top: 69px;
  padding-bottom: 65px;
  color: var(--white);
  text-align: center;
  background: var(--lineal-subscrible), url(/images/subscribe/mobile/research-lab-frozen-specimens@1x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-mini-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .subscribe {
    background: var(--lineal-subscrible), url(/images/subscribe/mobile/research-lab-frozen-specimens@2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (-o-mini-device-pixel-ratio: 3/1), screen and (-webkit-min-device-pixel-ratio: 2.375), screen and (min-resolution: 228dpi), screen and (min-resolution: 3dppx) {
  .subscribe {
    background: var(--lineal-subscrible), url(/images/subscribe/mobile/research-lab-frozen-specimens@3x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.subscribe__title {
  font-size: 15px;
  line-height: 1.4;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 16px;
}

.form {
  width: 100%;
  margin-top: 45px;
  font-family: "Tahoma";
  font-size: 14px;
  line-height: 1.6428571429;
  color: var(--form-color);
  text-align: left;
  padding: 55px 40px 55px 35px;
  -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
}
.form__title {
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}
.form__label {
  display: block;
}
.form__input {
  width: 100%;
  padding: 5px 0;
  margin-bottom: 28px;
  color: var(--form-color);
  background: inherit;
  -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
  border: none;
  border-bottom: 0.5px solid var(--form-color);
}
.form__input::-moz-placeholder {
  color: var(--form-color);
  border-radius: 5px;
}
.form__input:-ms-input-placeholder {
  color: var(--form-color);
  border-radius: 5px;
}
.form__input::placeholder {
  color: var(--form-color);
  border-radius: 5px;
}
.form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  padding: 0;
  margin-bottom: 0;
  font-family: "Circe";
  font-size: 16px;
  line-height: 1.4375;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.15));
}

.advantage {
  padding: 50px 0 52px 0;
}
.advantage__list {
  display: flex;
  flex-flow: column;
  gap: 5px;
  background: var(--white);
  margin-top: 30px;
}
.advantage__item {
  display: flex;
  gap: 26px;
  width: 100%;
  height: 121px;
  padding: 18px 8px 22px 12px;
  box-shadow: 2px 2px 19px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.advantage__item-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 28px;
}
.advantage__text {
  width: 172px;
  font-size: 15px;
  line-height: 1.4;
}

.blog {
  padding-bottom: 55px;
}
.blog__link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.0625;
  text-transform: uppercase;
  color: var(--main-color);
}
.blog__link-svg {
  fill: var(--main-color);
}
.blog__link:hover, .blog__link:focus {
  color: var(--accent);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.blog__link:hover .blog__link-svg, .blog__link:focus .blog__link-svg {
  fill: var(--accent);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.blog__inner {
  margin-top: 29px;
  display: -webkit-inline-box;
  gap: 24px;
}
.blog__post-card {
  width: 230px;
}
.blog__img {
  border-radius: 5px;
}
.blog__post-title {
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 18px;
  line-height: 1.1666666667;
}
.blog__post-excerpt {
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 1.3125;
}

.footer {
  /* Позиционирование */
  padding-top: 28px;
  padding-bottom: 30px;
  /* Блочная модель */
  /* Типографика */
  text-align: center;
  /* Оформление */
  color: var(--white);
  background: var(--lineal-footer), url(/images/footer/mobile/footer@1x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Анимация */
  /* Разное */
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-mini-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .footer {
    background: var(--lineal-hero), url(/images/footer/mobile/footer@2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (-o-mini-device-pixel-ratio: 3/1), screen and (-webkit-min-device-pixel-ratio: 2.375), screen and (min-resolution: 228dpi), screen and (min-resolution: 3dppx) {
  .footer {
    background: var(--lineal-hero), url(/images/footer/mobile/footer@3x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.footer__list {
  display: flex;
  flex-flow: column;
  gap: 7px;
  margin-bottom: 28px;
}
.footer__link {
  font-weight: 700;
  font-variant: small-caps;
  color: var(--white);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: var(--main-color);
}
.footer__link:hover .footer__mail, .footer__link:focus .footer__mail {
  color: var(--white);
}
.footer__address {
  padding-left: 58px;
  margin-bottom: 40px;
  text-align: left;
  text-transform: lowercase;
}
.footer__phone_list {
  display: flex;
  gap: 10px;
  align-items: baseline;
  margin-bottom: 8px;
}
.footer__phone-iner {
  display: flex;
}
.footer__phone-iner-num {
  display: flex;
  flex-flow: column;
}
.footer__phone-title {
  font-weight: 700;
  font-style: normal;
  text-transform: capitalize;
}
.footer__link--address {
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
}
.footer__mail-title {
  display: inline-block;
  font-weight: 700;
  font-style: normal;
  margin-right: 9px;
  text-transform: none;
}
.footer__copyright {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 11px;
  line-height: 1.1818181818;
  text-transform: capitalize;
}/*# sourceMappingURL=main.css.map */