.blog {
    padding-bottom: 63px;

    &__link {
        display: flex;
        align-items: center;
        gap: 10px;
        
        font-weight: 700;
        font-size: 16px;
        line-height: calc(17/16);
        text-transform: uppercase;
        color: var(--main-color);

        &-svg {
            fill: var(--main-color);
        }

        &:hover,
        &:focus {
            color: var(--accent);
            @include transition($transition-property: color);
            
        }

        &:hover &-svg,
        &:focus &-svg {
            fill: var(--accent);
            @include transition($transition-property: fill);
        }
    }
    
    &__inner {
        margin-top: 28px;
        display: -webkit-inline-box;
        gap: 24px;
    }

    &__post-card {
        width: 230px;
    }
    &__inner-img {
        position: relative;
        width: 100%;
        height: 147px;
        border-radius: 5px;
    }

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__post-title {
        padding-top: 17px;
        padding-bottom: 12px;
        font-size: 18px;
        line-height: calc(21/18);
    }

    &__post-excerpt {
        margin-bottom: 12px;
        font-size: 16px;
        line-height: calc(21/16);
    }


    @media screen and (min-width: $desctop) {
        padding-bottom: 83px;

        &__link {
            font-size: 18px;
            line-height: calc(18/17);
        }
        &__inner {
            margin-top: 40px;
            display: flex;
            flex-flow: nowrap;
            justify-content: space-evenly;
            gap: 22px;
        }
    
        &__post-card {
        overflow: hidden;
        }
        
        &__post-title {
            font-size: 18px;
            line-height: calc(21/18);
        }
    }

}