.button {
    width: 256px;
    height: 35px;
    padding: 7px 46px 6px;
    margin-bottom: 33px;

    font-weight: 700;
    font-size: 15px;
    line-height: calc(22/15);

    color: var(--white);
    border: none;
    background: var(--main-color);
    box-shadow: 4px 4px 31px rgba(0, 0, 0, 0.16);
    border-radius: 5px;

    &:hover,
    &:focus {
        color: var(--main-color);
        background: var(--white);
        @include transition($transition-property: (color, background));
        
    }
}