.container {
    max-width: 1009px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 2px solid red;

    // @media screen and (min-width: 375px) {
    //     width: 295px;
    // }

    // // @media screen and (min-width: 768px) {
    // //     width: 768px;
    // // }

    // @media screen and (min-width: 1200px) {
    //     width: 980px;
    // }
}