// 400
@font-face {
    font-family: 'SF UI Text';
    src: url(/fonts/SFUIText-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url(/fonts/Circe-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tahoma';
    src: url(/fonts/Tahoma.ttf);
    font-weight: 400;
    font-style: normal;
}

// 500
@font-face {
    font-family: 'SF UI Text';
    src: url(/fonts/SFUIText-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

// 600
@font-face {
    font-family: 'SF UI Text';
    src: url(/fonts/SFUIText-Semibold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}
// 700
@font-face {
    font-family: 'Circe';
    src: url(/fonts/Circe-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

