.form {
    width: 100%;

    @media screen and (max-width: $max-width) {
        margin-top: 45px;
    }

    font-size: 14px;
    line-height: calc(23/14);
    color: var(--form-color);
    text-align: left;


    padding: 55px 40px 55px 35px;
    backdrop-filter: blur(18px);

    &__title {
        margin-bottom: 28px;
        font-size: 15px;
        line-height: calc(21/15);
        letter-spacing: 0.06em;
        text-align: center;
        text-transform: uppercase;
        color: var(--white);
    }

    &__label {
        display: block;

    }

    &__input {
        width: 100%;
        padding: 5px 0;
        margin-bottom: 28px;
        font-family: 'Tahoma';
        color: var(--form-color);
        background: inherit;

        backdrop-filter: blur(18px);
        border: none;
        border-bottom: 0.5px solid var(--form-color);

        &::placeholder {
            color: var(--form-color);
            border-radius: 5px;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 48px;
        padding: 0;
        margin-bottom: 0;
        font-family: 'Circe';
        font-size: 16px;
        line-height: calc(23/16);
        filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.15));
        // box-shadow: 4px 4px 31px rgba(0, 0, 0, 0.16);
    }

    @media screen and (min-width: $desctop) {
        padding: 55px 44px 57px 43px;
        font-size: 16px;
        line-height: calc(23/16);

        &__title {
            font-size: 18px;
            line-height: calc(21/18);
        }

        &__label {
            display: block;
        }

        &__button {
            margin-top: 9px;
            }
    }
}