.header {
    color: var(--white);

    background: var(--lineal-hero), url(/images/hero/m-hero@1x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding-top: 25px;
    padding-bottom: 45px;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-mini-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background: var(--lineal-hero), url(/images/hero/m-hero@2x.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    @media screen and (min-device-pixel-ratio: 3),
    screen and (-webkit-min-device-pixel-ratio: 3),
    screen and (-o-mini-device-pixel-ratio: 3/1),
    screen and (min-resolution: 228dpi),
    screen and (min-resolution: 3dppx) {
        background: var(--lineal-hero), url(/images/hero/m-hero@3x.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__nav {
        position: relative;
        display: flex;
        // justify-content: space-between;
        align-items: center;
    }

    &__logo {
        margin-right: 37px;
    }

    &__basket {
        display: inline-flex;
        filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.15));

        &--margin {
            @media (width < 1200px) {
                margin-left: 14px;
                margin-right: 8px;
                margin-top: -5px;
            }
        }
    }

    &__svg {
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        margin-right: 8px;
        fill: var(--white);
        @include transition($transition-property: fill);

        &--hiden {
            @media screen and (max-width: $max-width) {
                display: none;
            }
        }

        &--width {
            width: 35px;
            height: 32px;

        }
    }


    @media screen and (min-width: $desctop) {
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        padding: 46px 0 197px 0;
        background: var(--lineal-hero), url(/images/hero/d-hero@1x.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5px;
        // padding: 25px 0px 40px;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-mini-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background: var(--lineal-hero), url(/images/hero/d-hero@2x.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        @media screen and (min-device-pixel-ratio: 3),
        screen and (-webkit-min-device-pixel-ratio: 3),
        screen and (-o-mini-device-pixel-ratio: 3/1),
        screen and (min-resolution: 228dpi),
        screen and (min-resolution: 3dppx) {
            background: var(--lineal-hero), url(/images/hero/d-hero@3x.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        &__svg {
            width: 24px;
            height: 24px;

            &--width {
                width: 34px;
                height: 34px;
            }
        }

        &__nav {
            margin-top: 3px;
            margin-bottom: 20px;
        }
    }
}

.header-menu {
    @media screen and (max-width: $max-width) {
        display: none;
    }

    @media screen and (min-width: $desctop) {
        // display: flex;
        background: var(--main-color);
        border-radius: 5px;
        box-shadow: inset -4px -4px 13px rgba(0, 0, 0, 0.07), inset 4px 4px 11px rgba(0, 0, 0, 0.1);

        &__list {
            display: flex;
            justify-content: space-around;
        }

        &__item:not(:first-child) {
            &::before {
                content: "";
                border-right: 1px solid var(--white);
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
            }
        }

        &__link {
            padding: 9px 75px 10px;
            font-size: 16px;

            &:hover,
            &:focus {
                color: var(--accent);
                // backdrop-filter: blur(2px);
                @include transition($transition-property: color);
            }
        }

    }
}


// стрелка вниз в меню виситна спане классом
// на сайте электроенергии
// <a class="dropdown-toggle" href="/" data-toggle="dropdown" aria-expanded="true">Постачання електричної енергії <span class="caret"></span></a>
//     .ttt {
//     display: inline-block;
//     width: 0;
//     height: 0;
//     margin-left: 2px;
//     vertical-align: middle;
//     border-top: 4px dashed;
//     border-top: 4px solid \9;
//     border-right: 4px solid transparent;
//     border-left: 4px solid transparent;
// }