.header {

    justify-content: space-between;
    align-items: center;

    color: var(--white);

    background: var(--lineal-hero), url(/images/hero/mobile/hero@1x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 25px 2px 0 2px;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;


    }

    // &>ul>li {
    //     position: relative;
    // white-space: nowrap;
    // float: left;
    // }

    // & .drop-down::after {
    //     content: "🠗";
    //     font-family: IcoFont;
    //     padding-left: 5px;
    //     color: var(--white);
    // }

    & .hero {
        padding-top: 41px;
        padding-bottom: 45px;
    }

    &__svg {
        background: var(--lineal-hero);
        fill: var(--white);
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-mini-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background: var(--lineal-hero), url(/images/hero/mobile/hero@2x.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    @media screen and (min-device-pixel-ratio: 3),
    screen and (-webkit-min-device-pixel-ratio: 3),
    screen and (-o-mini-device-pixel-ratio: 3/1),
    screen and (min-resolution: 228dpi),
    screen and (min-resolution: 3dppx) {
        background: var(--lineal-hero), url(/images/hero/mobile/hero@3x.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    // .phone-inner {
    //     position: relative;
    //     display: flex;
    //     align-items: center;
    //     gap: 15px;

    // }

    .phone_link {
        // position: relative;
        // display: flex;
        // align-items: center;
        // gap: 15px;
        color: var(--white);

        &1 {
            color: var(--text);
        }
    }








   

    // стрелка вниз в меню виситна спане классом
    // на сайте электроенергии
    // <a class="dropdown-toggle" href="/" data-toggle="dropdown" aria-expanded="true">Постачання електричної енергії <span class="caret"></span></a>
    //     .ttt {
    //     display: inline-block;
    //     width: 0;
    //     height: 0;
    //     margin-left: 2px;
    //     vertical-align: middle;
    //     border-top: 4px dashed;
    //     border-top: 4px solid \9;
    //     border-right: 4px solid transparent;
    //     border-left: 4px solid transparent;
    // }


}
// .dropdown {
//     position: relative;
//     display: flex;
//     align-items: center;
//     gap: 15px;

// }
.dropdown-content {
    display: none;
    position: absolute;
    width: 210px;
    height: 160px;
    top: 0;
    left:0;

    background: #FFFFFF;
box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);

    // background-color: #f1f1f1;
    // min-width: 160px;
    // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    // z-index: 1;
}

.dropbtn {
    position: relative;
    background-color: inherit;
    // background: chocolate;
    color: white;
    // padding: 0px;

    border: none;
    display: flex;


    &::before {
        position: absolute;
     content: "\25BC";
        // content:"\2304";
        color: #FFFFFF;
        // font-size: 20px;
        // top: -17px;
        // left: -10px;
        font-size: 50%;

    // background-image: url(/images/icons/mobile/rounded-down.svg);

    }
}

.show {display: block;}

