.preview-post {
    padding: 31px 32px 34px 33px;

    text-align: left;

    background: rgba(153, 171, 221, 0.26);
    border-radius: 5px;

    filter: drop-shadow(-3px -3px 12px rgba(0, 0, 0, 0.06)) drop-shadow(4px 4px 29px rgba(0, 0, 0, 0.17));
    backdrop-filter: blur(25px);

    &__text {
        margin-top: 10px;
        margin-bottom: 14px;
    }

    &__img {
        width: 230px;
        height: 118px;
        padding: 25px 8px;
        margin-bottom: 18px;

        background: var(--white);
        border-radius: 5px;
    }

    &__name {
        width: 233px;
    }

    &__name-title {
        font-size: 16px;
        text-transform: uppercase;
        text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.08);


        &-accent {
            font-size: 14px;
            line-height: calc(16/14);
            color: var(--accent);
            text-transform: capitalize;
        }
    }

    &__link {
        color: var(--white);
        text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.08);
        text-transform: capitalize;

        &:hover,
        &:focus {
            color: var(--main-color);
            @include transition($transition-property: color);
        }

        &:hover .header__svg,
        &:focus .header__svg {
            fill: var(--main-color);
            @include transition($transition-property: fill);
        }
    }
}