.preview-post {
    padding: 31px 32px 30px 33px;
    text-align: left;
    background: rgba(153, 171, 221, 0.26);
    border-radius: 5px;
    filter: drop-shadow(-3px -3px 12px rgba(0, 0, 0, 0.06)) drop-shadow(4px 4px 29px rgba(0, 0, 0, 0.17));
    backdrop-filter: blur(25px);

    &__text {
        margin-top: 10px;
        margin-bottom: 11px;
    }

    &__thumb {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 118px;

        @media screen and (max-width: $max-width) {
            margin-bottom: 17px;
        }

        background: var(--white);
        border-radius: 5px;
    }

    &__img {
        position: absolute;
        width: 100%;
        height: 118px;
        top: 50%;
        left: 50%;
        padding: 25px 8px;
        transform: translate(-50%, -50%);
    }

    &__name {
        width: 233px;
    }

    &__name-title {
        margin-top: 10px;
        font-size: 16px;
        text-transform: uppercase;
        text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.08);
        line-height: 1.2;

        &-accent {
            font-size: 14px;
            color: var(--accent);
            text-transform: capitalize;
            vertical-align: text-top;
        }
    }

    &__link {
        color: var(--white);
        text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.08);
        text-transform: capitalize;

        &:hover,
        &:focus {
            color: var(--main-color);
            @include transition($transition-property: color);
        }

        &:hover .header__svg,
        &:focus .header__svg {
            fill: var(--main-color);
            @include transition($transition-property: fill);
        }
    }

    @media screen and (min-width: $desctop) {
        padding: 67px 44px 64px 42px;
        width: 551px;

        &__inner {
            display: flex;
        }

        &__container {
            display: flex;
            gap: 18px;
        }

        &__text {
            margin-bottom: 16px;
            font-size: 16px;
            line-height: calc(21/16);
        }

        &__thumb {
            position: relative;
            width: 199px;
            height: 109px;
        }

        &__img {
            position: absolute;
            width: 100%;
            height: 109px;
            padding: 18px 8px;
            top: 50%;
            left: 50%;
            padding: 25px 8px;
            transform: translate(-50%, -50%);
        }

        &__name {
            width: 237px;
        }

        &__link {
            font-size: 16px;
            line-height: calc(21/16);
        }
    }
}