.products {
    padding-top: 50px;
    padding-bottom: 45px;

    &__h2 {
        margin-bottom: 20px;
    }

    &__item {
        width: 100%;
        height: 169px;
        border-radius: 5px;

        &:nth-child(1) {
            background: var(--lineal-products), url(/images/products/m-nitrile-gloves@1x.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (-o-mini-device-pixel-ratio: 2/1),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background: var(--lineal-products), url(/images/products/m-nitrile-gloves@2x.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            @media screen and (min-device-pixel-ratio: 3),
            screen and (-webkit-min-device-pixel-ratio: 3),
            screen and (-o-mini-device-pixel-ratio: 3/1),
            screen and (min-resolution: 228dpi),
            screen and (min-resolution: 3dppx) {
                background: var(--lineal-products), url(/images/products/m-nitrile-gloves@3x.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        &:nth-child(2) {
            background: var(--lineal-products), url(/images/products/m-latex-gloves@1x.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (-o-mini-device-pixel-ratio: 2/1),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background: var(--lineal-products), url(/images/products/m-latex-gloves@2x.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            @media screen and (min-device-pixel-ratio: 3),
            screen and (-webkit-min-device-pixel-ratio: 3),
            screen and (-o-mini-device-pixel-ratio: 3/1),
            screen and (min-resolution: 228dpi),
            screen and (min-resolution: 3dppx) {
                background: var(--lineal-products), url(/images/products/m-latex-gloves@3x.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        &:nth-child(3) {
            background: var(--lineal-products), url(/images/products/m-medical-gloves@1x.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (-o-mini-device-pixel-ratio: 2/1),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background: var(--lineal-products), url(/images/products/m-medical-gloves@2x.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            @media screen and (min-device-pixel-ratio: 3),
            screen and (-webkit-min-device-pixel-ratio: 3),
            screen and (-o-mini-device-pixel-ratio: 3/1),
            screen and (min-resolution: 228dpi),
            screen and (min-resolution: 3dppx) {
                background: var(--lineal-products), url(/images/products/m-medical-gloves@3x.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }            
        }

        &:nth-child(4) {
            background: var(--lineal-products), url(/images/products/m-food-industry-gloves@1x.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (-o-mini-device-pixel-ratio: 2/1),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background: var(--lineal-products), url(/images/products/m-food-industry-gloves@2x.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            @media screen and (min-device-pixel-ratio: 3),
            screen and (-webkit-min-device-pixel-ratio: 3),
            screen and (-o-mini-device-pixel-ratio: 3/1),
            screen and (min-resolution: 228dpi),
            screen and (min-resolution: 3dppx) {
                background: var(--lineal-products), url(/images/products/m-food-industry-gloves@3x.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            & .products__link {
                padding: 118px 24px 18px 117px;
            }
        }

        &:nth-child(5) {
            background: var(--lineal-products), url(/images/products/m-economic-gloves@1x.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (-o-mini-device-pixel-ratio: 2/1),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background: var(--lineal-products), url(/images/products/m-economic-gloves@2x.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            @media screen and (min-device-pixel-ratio: 3),
            screen and (-webkit-min-device-pixel-ratio: 3),
            screen and (-o-mini-device-pixel-ratio: 3/1),
            screen and (min-resolution: 228dpi),
            screen and (min-resolution: 3dppx) {
                background: var(--lineal-products), url(/images/products/m-economic-gloves@3x.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        &:nth-child(6) {
            background: var(--lineal-products), url(/images/products/m-construction-gloves@1x.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (-o-mini-device-pixel-ratio: 2/1),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background: var(--lineal-products), url(/images/products/m-construction-gloves@2x.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            @media screen and (min-device-pixel-ratio: 3),
            screen and (-webkit-min-device-pixel-ratio: 3),
            screen and (-o-mini-device-pixel-ratio: 3/1),
            screen and (min-resolution: 228dpi),
            screen and (min-resolution: 3dppx) {
                background: var(--lineal-products), url(/images/products/m-construction-gloves@3x.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            & .products__link {
                padding: 118px 22px 18px 138px;
            }
        }

        @media screen and (max-width: $max-width) {
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    &__link {
        padding: 118px 24px 18px 152px;
        font-weight: 700;
        font-size: 16px;
        line-height: 17px;
        font-variant: small-caps;
        color: var(--white);
        text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
        @include transition($transition-property: color);

        &:hover,
        &:focus {
            color: var(--main-color);
        }

        &:hover .products__svg,
        &:focus .products__svg {
            fill: var(--main-color);
        }
        &--padding {
            padding: 100px 0 0 125px;
        }
    }

    &__svg {
        fill: var(--white);
        margin-left: 8px;
        @include transition($transition-property: fill);
    }

    @media screen and (min-width: $desctop) {
        padding-top: 87px;
        padding-bottom: 102px;

        &__h2 {
            margin-bottom: 35px;
        }

        &__link {
            font-size: 18px;
        }

        &__list {
            display: flex;
            flex-flow: wrap;
            gap: 10px;
        }

        &__item {
            width: calc((100% - 20px)/3);
            
            &:nth-child(1) {
                background: var(--lineal-products), url(/images/products/d-nitrile-gloves@1x.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                @media screen and (min-device-pixel-ratio: 2),
                screen and (-webkit-min-device-pixel-ratio: 2),
                screen and (-o-mini-device-pixel-ratio: 2/1),
                screen and (min-resolution: 192dpi),
                screen and (min-resolution: 2dppx) {
                    background: var(--lineal-products), url(/images/products/d-nitrile-gloves@2x.jpg);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                @media screen and (min-device-pixel-ratio: 3),
                screen and (-webkit-min-device-pixel-ratio: 3),
                screen and (-o-mini-device-pixel-ratio: 3/1),
                screen and (min-resolution: 228dpi),
                screen and (min-resolution: 3dppx) {
                    background: var(--lineal-products), url(/images/products/d-nitrile-gloves@3x.jpg);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                & .products__link {
                    padding: 118px 24px 18px 166px;
                }
            }

            &:nth-child(2) {
                background: var(--lineal-products), url(/images/products/d-latex-gloves@1x.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                @media screen and (min-device-pixel-ratio: 2),
                screen and (-webkit-min-device-pixel-ratio: 2),
                screen and (-o-mini-device-pixel-ratio: 2/1),
                screen and (min-resolution: 192dpi),
                screen and (min-resolution: 2dppx) {
                    background: var(--lineal-products), url(/images/products/d-latex-gloves@2x.jpg);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                @media screen and (min-device-pixel-ratio: 3),
                screen and (-webkit-min-device-pixel-ratio: 3),
                screen and (-o-mini-device-pixel-ratio: 3/1),
                screen and (min-resolution: 228dpi),
                screen and (min-resolution: 3dppx) {
                    background: var(--lineal-products), url(/images/products/d-latex-gloves@3x.jpg);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                & .products__link {
                    padding: 118px 24px 18px 166px;
                }
            }

            &:nth-child(3) {
                background: var(--lineal-products), url(/images/products/d-medical-gloves@1x.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                @media screen and (min-device-pixel-ratio: 2),
                screen and (-webkit-min-device-pixel-ratio: 2),
                screen and (-o-mini-device-pixel-ratio: 2/1),
                screen and (min-resolution: 192dpi),
                screen and (min-resolution: 2dppx) {
                    background: var(--lineal-products), url(/images/products/d-medical-gloves@2x.jpg);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                @media screen and (min-device-pixel-ratio: 3),
                screen and (-webkit-min-device-pixel-ratio: 3),
                screen and (-o-mini-device-pixel-ratio: 3/1),
                screen and (min-resolution: 228dpi),
                screen and (min-resolution: 3dppx) {
                    background: var(--lineal-products), url(/images/products/d-medical-gloves@3x.jpg);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                & .products__link {
                    padding: 99px 0 21px 138px;
                }
            }

            &:nth-child(4) {
                background: var(--lineal-products), url(/images/products/d-food-industry-gloves@1x.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                @media screen and (min-device-pixel-ratio: 2),
                screen and (-webkit-min-device-pixel-ratio: 2),
                screen and (-o-mini-device-pixel-ratio: 2/1),
                screen and (min-resolution: 192dpi),
                screen and (min-resolution: 2dppx) {
                    background: var(--lineal-products), url(/images/products/d-food-industry-gloves@2x.jpg);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                @media screen and (min-device-pixel-ratio: 3),
                screen and (-webkit-min-device-pixel-ratio: 3),
                screen and (-o-mini-device-pixel-ratio: 3/1),
                screen and (min-resolution: 228dpi),
                screen and (min-resolution: 3dppx) {
                    background: var(--lineal-products), url(/images/products/d-food-industry-gloves@3x.jpg);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                & .products__link {
                    padding: 116px 24px 18px 126px;
                }
            }

            &:nth-child(5) {
                background: var(--lineal-products), url(/images/products/d-economic-gloves@1x.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                @media screen and (min-device-pixel-ratio: 2),
                screen and (-webkit-min-device-pixel-ratio: 2),
                screen and (-o-mini-device-pixel-ratio: 2/1),
                screen and (min-resolution: 192dpi),
                screen and (min-resolution: 2dppx) {
                    background: var(--lineal-products), url(/images/products/d-economic-gloves@2x.jpg);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                @media screen and (min-device-pixel-ratio: 3),
                screen and (-webkit-min-device-pixel-ratio: 3),
                screen and (-o-mini-device-pixel-ratio: 3/1),
                screen and (min-resolution: 228dpi),
                screen and (min-resolution: 3dppx) {
                    background: var(--lineal-products), url(/images/products/d-economic-gloves@3x.jpg);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                & .products__link {
                    padding: 116px 24px 18px 166px;
                }
            }

            &:nth-child(6) {
                background: var(--lineal-products), url(/images/products/d-construction-gloves@1x.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                @media screen and (min-device-pixel-ratio: 2),
                screen and (-webkit-min-device-pixel-ratio: 2),
                screen and (-o-mini-device-pixel-ratio: 2/1),
                screen and (min-resolution: 192dpi),
                screen and (min-resolution: 2dppx) {
                    background: var(--lineal-products), url(/images/products/d-construction-gloves@2x.jpg);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                @media screen and (min-device-pixel-ratio: 3),
                screen and (-webkit-min-device-pixel-ratio: 3),
                screen and (-o-mini-device-pixel-ratio: 3/1),
                screen and (min-resolution: 228dpi),
                screen and (min-resolution: 3dppx) {
                    background: var(--lineal-products), url(/images/products/d-construction-gloves@3x.jpg);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                & .products__link {
                    padding: 116px 24px 18px 148px;
                }
            }
        }
    }
}
