.search {
    @media  (width < 1200px) {
        display: none;
    }

    position: relative;

    &--margin {
        margin-left: 29px;
        margin-right: 8px;
    }

    &__button {
        position: absolute;
        display: block;
        width: 16px;
        height: 16px;
        padding: 0;
        background-image: url(/images/icons/search.svg);
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;

        top: calc(50% - 8px);
        left: 13px;
    }

    &__input {
        width: 190px;
        // height: 33px;
        padding: 4px 35px 5px 41px;
        background: rgba(244, 245, 248, 0.7);
        border-radius: 5px;
        border: none;
        font-size: 16px;
        line-height: calc(24/16);
        color: var(--white);

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: var(--grey);
        }

    }

}