h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  // display: inline-block;
  text-decoration: none;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}
picture {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


.list {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Circe', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(21/14);
  // color: var(--black);
  // min-width: 320px;
  // overflow-x: hidden;
}





/* Скрытие заголовка */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

