:root {
    --text: #232120;
    --white: #FFFFFF;
    --grey: #B8BDC0;
    // --footer: 
    --main-color: #487ACD;
    --form-color: rgba(242, 242, 242, 0.63);
    --lineal-hero: linear-gradient(90deg, rgba(30, 42, 93, 0.45) 0%, rgba(42, 57, 118, 0.45) 40.99%, rgba(60, 80, 156, 0.45) 76.89%, rgba(73, 95, 186, 0.45) 109.93%);
    --page-background: #FFFFFF;
    --accent: #84B6F5;

    --lineal-products: linear-gradient(90deg, rgba(30, 42, 93, 0.41) 0%, rgba(42, 57, 118, 0.41) 40.99%, rgba(60, 80, 156, 0.41) 76.89%, rgba(73, 95, 186, 0.41) 109.93%);
    --lineal-subscrible: linear-gradient(90deg, rgba(30, 42, 93, 0.5) 0%, rgba(42, 57, 118, 0.5) 40.99%, rgba(60, 80, 156, 0.42) 79.36%, rgba(73, 95, 186, 0.15) 109.93%);
    --lineal-footer: linear-gradient(90deg, rgba(30, 42, 93, 0.57) 0%, rgba(72, 122, 205, 0.3363) 40.99%, rgba(72, 122, 205, 0.4902) 76.89%, rgba(73, 95, 186, 0.4959) 109.93%);

}

$desctop: 1200px;
$max-width: 1199px;
$mobile: 375px;





