:root {
    --text: #232120;
    --white: #FFFFFF;
    // --footer: 
    --main-color: #487ACD;
    --lineal-hero: linear-gradient(90deg, rgba(30, 42, 93, 0.45) 0%, rgba(42, 57, 118, 0.45) 40.99%, rgba(60, 80, 156, 0.45) 76.89%, rgba(73, 95, 186, 0.45) 109.93%);
    --page-background: #E5E5E5;
    --accent: #84B6F5;

}





